.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.backgroundCover {
  background-color: rgb(38, 38, 38);
  opacity: 0.9;
}

.detailGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  margin-bottom: 0.5rem;
}

.featureList {
  display: flex;
  padding-left: 1rem;
}

.featureList > li {
  list-style-type: disc;
  margin-right: 2rem;
}

.genreList {
  display: flex;
}

.genreListItem {
  margin-right: 0.5rem;
}

.selection {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.rankWrapper {
  display: flex;
  align-items: center;
}

.rank {
  background-color: rgb(13, 3, 61);
  border: 2px solid yellowgreen;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  color: white;
  font-weight: bold;
  margin-right: 0.7rem;
}

.rankType {
  font-weight: bold;
  width: 3rem;
}

.iconWrapper {
  position: relative;
  cursor: pointer;
  margin-left: 3rem;
}

.iconWrapper:hover {
  color: rgb(176, 176, 176);
  font-size: 1rem;
}
.icon {
  font-size: 1.5rem;
}

.tooltip {
  text-align: center;
  visibility: hidden;
  width: 7rem;
  background-color: rgb(22, 22, 22);
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.2rem;
  position: absolute;
  bottom: -1.6rem;
  left: -3rem;
}

.iconWrapper:hover .tooltip {
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .detailGrid {
    grid-template-columns: 1fr;
  }
  .poster {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
