.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.backgroundCover {
  background-color: rgb(38, 38, 38);
  opacity: 0.9;
}

.detailGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  margin-bottom: 0.5rem;
}

.featureList {
  display: flex;
  padding-left: 1rem;
}

.featureList > li {
  list-style-type: disc;
  margin-right: 2rem;
}

.genreList {
  display: flex;
}

.genreListItem {
  margin-right: 0.5rem;
}

.selection {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.rankWrapper {
  display: flex;
  align-items: center;
}

.rank {
  background-color: rgb(13, 3, 61);
  border: 2px solid yellowgreen;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  color: white;
  font-weight: bold;
  margin-right: 0.7rem;
}

.rankType {
  font-weight: bold;
  width: 3rem;
}

.icons {
  display: flex;
  align-items: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.iconWrapper:hover {
  color: rgb(176, 176, 176);
}

.icon {
  margin-right: 0.5rem;
}

.tagline {
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 576px) {
  .title {
    font-size: 1.8em;
    margin-bottom: 1rem;
  }

  .genreList {
    flex-direction: column;
  }

  .icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .iconWrapper {
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .detailGrid {
    grid-template-columns: 1fr;
  }
}
