.card {
  min-height: 22rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  color: black;
}

.card:hover {
  opacity: 0.9;
  transform: translateY(-0.1rem);
}

.imageWrapper {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 14rem;
  overflow: hidden;
}

.body {
  position: relative;
  padding: 0 0.5rem 0.5rem 0.5rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
}

.rank {
  position: absolute;
  top: -1rem;
  right: 1rem;
  background-color: rgb(13, 3, 61);
  border: 2px solid yellowgreen;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
}

.title {
  margin-bottom: 0.4rem;
}

.date {
  font-size: 0.9rem;
  color: rgb(83, 83, 83);
}

.removeBtn {
  font-family: inherit;
  display: block;
  width: 100%;
  cursor: pointer;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
  padding: 0.4rem 0;
  margin-top: auto;
}

.removeBtn:hover {
  background-color: #0b072c;
  color: #fff;
}

@media (max-width: 576px) {
  .card {
    height: 30rem;
  }

  .imageWrapper {
    height: 22rem;
  }
}
