.searchbar {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border-radius: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  border: 1px solid gray;
}

@media (max-width: 768px) {
  .searchbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
