.header {
  background-color: #0b072c;
  position: relative;
}

.header a {
  color: #fff;
}

.header a:hover {
  color: rgb(176, 176, 176);
}

.wrapper {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav a {
  margin: 0 0.5rem;
  font-weight: 500;
}

.pageLinks {
  margin-left: 4rem;
}

.userLinks {
  margin-left: auto;
}

.toggleBtn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
}
.icon:hover {
  color: rgb(176, 176, 176);
}

.nav .loginBtn {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 0.8rem;
  color: #140d56;
  font-weight: bold;
  font-size: inherit;
}

.nav .loginBtn:hover {
  color: #140d56;
  background-color: rgb(176, 176, 176);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .pageLinks,
  .userLinks {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  .toggleHeader {
    margin-bottom: 14.9rem;
  }

  .toggleNav a,
  .loginBtn {
    margin-bottom: 1.6rem;
  }

  .toggleNav {
    position: absolute;
    left: 0;
    top: 7rem;
    margin-bottom: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b072c;
  }

  .toggleBtn {
    display: block;
  }
}
