.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10.2rem, 1fr));
  gap: 1.5rem;
}
